.detail{
    margin: 30px;
}

h2{
    font-weight: bold;
    font-size: 30px;
}

.name{
    font-size: 20px;
    color: #1976D2;
}

.listing-photo {
    width: 150px;
    height: 220px;
    border-radius: 5px;
}

.description, .link{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    white-space: pre-line;
    line-height: 1.4;
}

.rating, .price{
    font-size: 18px;
    font-weight: 500;
    color: #222;
    margin-right: 15px;
}

.telegram-button{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    box-sizing: border-box;
    
    cursor: pointer;
    background-color: #0088cc;
    border-radius: 3px;
    padding: 3px 6px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #FFF;
    text-decoration: none;
}

.telegram-button:hover{
    background-color: #007dbb;
}

.telegram-button:active{
    background-color: #026698;
}

.telegram-button i{
    display: inline-block;
    height: 12px;
    width: 14px;
    vertical-align: middle;
    margin-right: 2px;
    
    background: url('https://telegram.org/img/oauth/tg_button_small.png') no-repeat;
    background-size: contain;
}

.telegram-button span{
    display: inline-block;
    vertical-align: top;
}