.main{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

div, h2{
    margin: 30px;
}

.image{
    width: auto;
    height: 211px;
}


.telegram-button i{
    display: inline-block;
    height: 14px;
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: -2px;
    background: url('https://telegram.org/img/oauth/tg_button_small.png') no-repeat;
    background-size: contain;
}

h2{
    font-weight: bold;
    font-size: 30px;
}

h3{
    font-size: 20px;
}

.else{
    margin: 30px;
    font-size: 18px;
    font-weight: bold;
}

.if{
    margin: 0;
    padding: 0;
}

.remove{
    position: relative;
    bottom: 2px;
    margin-left: 10px;
}

.like{
    position: relative;
    bottom: 2px;
    margin-left: 10px;
}