.album-photos {
    max-width: 800px;
    margin: 10px;
}

.album-photos p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.photo-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo-item span {
    display: block;
    padding: 10px;
    background-color: #f9f9f9;
}

.photo-item img {
    display: block;
    max-width: 100%;
    height: auto;
}